@import "tailwindcss";

body{
    margin: 0px;
    box-sizing: border-box;
}
.MuiTabPanel-root{
    box-sizing: border-box !important;
    margin: 0px !important;
    padding: 0px !important;
}
.multitabBox{
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
}

.css-13xfq8m-MuiTabPanel-root {
    padding: 0px !important;
}

.navbar{
    width: 100vw;
}

.mobilecard:hover{
    transform: scale(1.25);
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
        transition: all 0.3s ease-in-out;
}

.login-btn:hover{
 cursor: pointer;
 transform: scale(1.05);
transition: all 0.3s ease-in-out;

}

.signup-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}

.securitytips{
    overflow-y: scroll;
}

.logoutAcc-btn{
    border-radius:0px 0px 0px 8px  ;
}
.debit-card{
    /* background-image: url(./assets/debitcard.jpg); */
    background-color: rgb(208, 214, 219);
}

.paymentForm{
   background-color:rgb(180, 174, 174);
   border-radius: 5px;
}
.creditcard{
    overflow-y: scroll !important;
    
}

@media screen and (max-width:480px) {
    .nav-ul-item{
        display: none;
    }
    .nav-btns{
        width: 100%;
        padding: 1rem;
    }
    .nav-btn{
        display: none;
    }

    .netbanking{
        width: 12rem !important;
    }

}

